<html>
    <head>
        <title> {{ title }} </title>
        <link href="{{ static('css/bill.css') }}" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <h1> {{ bill.id }} </h1>
        <h2> {{ bill.description }} </h2>
        <div class="table">
            <div class="table-row">
                <div class="table-cell">
                    {{ before.version }}
                </div>
                <div class="table-cell">
                    {{ after.version }}
                </div>
            </div>
        </div>
        <div id="editor">
          {% autoescape false %} 
            {{ bill_text }}
          {% endautoescape %} 
        </div>
        <div id="bill_text">
          {% autoescape false %} 
            {{ bill_text }}
          {% endautoescape %} 
        </div>
      <script src="{{ static('js/jquery.min.js') }}" type="text/javascript"></script>
      <script src="{{ static('js/bootstrap.min.js') }}"></script>
      <script src="{{ static('js/highlight.pack.js') }}" type="text/javascript"></script>
      <script src="{{ static('js/ace.js') }}" type="text/javascript" charset="utf-8"></script>
      <script src="{{ static('js/mode-markdown.js') }}" type="text/javascript" charset="utf-8"></script>
      <script src="{{ static('js/marked.js') }}" type="text/javascript"></script>
      <script src="{{ static('js/keymaster.js') }}" type="text/javascript"></script>
      <script src="{{ static('js/plugins.js') }}" type="text/javascript"></script>
      <script src="{{ static('js/notifier.js') }}" type="text/javascript"></script>
      <script src="{{ static('js/github.js') }}" type="text/javascript"></script>
      <script src="{{ static('js/dropbox.js') }}" type="text/javascript"></script>
      <script src="{{ static('js/googledrive.js') }}" type="text/javascript"></script>
      <script src="{{ static('js/dillinger.js') }}" type="text/javascript"></script>
    </body>
</html>
