<link href="{{ static('css/bill.css') }}" rel="stylesheet" type="text/css" media="all">
<link href="{{ static('css/ghdiff.css') }}" rel="stylesheet" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Arvo:400,700&subset=latin" rel="stylesheet" type="text/css">
<link href="{{ static('css/dillinger-style-0.7.6.css')}}" rel="stylesheet">
